* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'EB Garamond', serif;*/
}

/*landing page*/
#jumbotron-section {
	height: 100vh;
}

#jumbotron-section {
	height: 100vh;
}

#jumbotron-land {
	height: 100vh;
	background-repeat: no-repeat;
	background-image: url("../images/index-background.jpg");
	background-size: cover;
	/*background-color: #333; /*off-black*/
	/*padding-top: 30%;*/
	border-radius: 0; /*to remove rounded corners of jumbotron*/
	/*background-position: center;*/
}

.jumbotron img {
	border-radius: 100%;
	width: 150px;
	height: 150px;
	object-fit: cover;
	display: block;
	margin: 0 auto;
	margin-top: 5%;
	border-style: groove;
  	border-width: 7px;
  	border-color: #333;
}

.jumbotron h1 {
	font-family: 'EB Garamond', serif;
	color: lightgrey; /*off-white*/
	padding-top: 2.5%;
	text-shadow: 1px 1px #333;
}

.jumbotron hr {
	background-color: lightgrey; /*white*/
	width: 25%;
	display: block;
	margin: 0 auto;
	/*text-shadow: 1px 1px #333;*/
}

.container p {
	color: #333;
	text-shadow: 1px 1px lightgrey;
}

.btn a {
	text-decoration: none;
	color: #fff; /*white*/
}

#but-land {
	display: block;
	margin: 0 auto;
	background-color: #353535;
}

/*end landing page*/

/*start home page*/
.navbar {
	background-color: #353535;
}

.navbar-brand {
	font-family: 'EB Garamond', serif;
	font-weight: bold;
}

.nav-item {
	margin-right: 1em;
}

.nav-info {
	font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #353535;
  text-decoration: none;
  width: 15em;
}

.dropdown-content a {
  color: rgba(255,255,255,.75);
  padding: 0.5em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: lightgrey;
	color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#logo-img {
	height: 1em;
	width: 1em;
	margin-bottom: 0.5em;
}

.nav-info {
	color: #fff;
	text-align: right;
}

#home-banner {
	background-color: #333;
    color: #fff;
    padding: 20%;
}

#carousel-banner {
	height: 91vh;
}

#carousel-banner img {
	height: 91vh;
	max-height: 91vh;
}

#carousel-text {
	margin: 15%;
	text-shadow: 1px 1px #333;
	border: 3px solid white;
	border-style: groove;
	font-family: 'Oswald', sans-serif;
	padding: 0.5%;
}

#welcome {
	font-family: 'Oswald', sans-serif;
}

.about-tags {
	font-weight: bold;
	font-family: 'EB Garamond', serif;
}

hr {
	margin-top: 1px;
	margin-bottom: 1px;
}

.card {
	height: 80vh;
}

.card img {
	height: 50%;
}

.card h5 {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}

#card-text {
	color: #333;
}

.card-body p {
	font-size: 15px;
}

.card-p {
	font-size: 20px;
}

.footer {
	background-color: #333;
	color: rgba(255,255,255,.75);
	font-family: 'EB Garamond', serif;
	font-weight: bold;
}

/*end home page*/

/*about us page*/
.about-header {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}

.about-header a {
	color: grey;
}

/*end about us page*/

/*contact us page*/
#contact-text {
	font-family: 'EB Garamond', serif;
}

.button {
	background-color: #353535;
	border: none;
	color: rgba(255,255,255,.5);
	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}

/*end contact us page*/